### 1.Example Code:

for word in range(0, 100):
    print (word)

a.Change the example code to count down in increments of 1
b.Change the example to count up in increments of 0.5

In [1]:
#a
for word in range(100, 0,-1): 
    print (word)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [2]:
#b
count = 0
for i in range(0,200):
    count += 0.5
    print(count)

0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0
5.5
6.0
6.5
7.0
7.5
8.0
8.5
9.0
9.5
10.0
10.5
11.0
11.5
12.0
12.5
13.0
13.5
14.0
14.5
15.0
15.5
16.0
16.5
17.0
17.5
18.0
18.5
19.0
19.5
20.0
20.5
21.0
21.5
22.0
22.5
23.0
23.5
24.0
24.5
25.0
25.5
26.0
26.5
27.0
27.5
28.0
28.5
29.0
29.5
30.0
30.5
31.0
31.5
32.0
32.5
33.0
33.5
34.0
34.5
35.0
35.5
36.0
36.5
37.0
37.5
38.0
38.5
39.0
39.5
40.0
40.5
41.0
41.5
42.0
42.5
43.0
43.5
44.0
44.5
45.0
45.5
46.0
46.5
47.0
47.5
48.0
48.5
49.0
49.5
50.0
50.5
51.0
51.5
52.0
52.5
53.0
53.5
54.0
54.5
55.0
55.5
56.0
56.5
57.0
57.5
58.0
58.5
59.0
59.5
60.0
60.5
61.0
61.5
62.0
62.5
63.0
63.5
64.0
64.5
65.0
65.5
66.0
66.5
67.0
67.5
68.0
68.5
69.0
69.5
70.0
70.5
71.0
71.5
72.0
72.5
73.0
73.5
74.0
74.5
75.0
75.5
76.0
76.5
77.0
77.5
78.0
78.5
79.0
79.5
80.0
80.5
81.0
81.5
82.0
82.5
83.0
83.5
84.0
84.5
85.0
85.5
86.0
86.5
87.0
87.5
88.0
88.5
89.0
89.5
90.0
90.5
91.0
91.5
92.0
92.5
93.0
93.5
94.0
94.5
95.0
95.5
96.0
96.5
97.0
97.5
98.0
98.5
99.0
99.5
100.0

### 2.Change the loop statement below to an inline for loop statement:

the_sentence = 'the student went above and beyond the call of duty on the homework'
my_ar = list()

for word in the_sentence.split():
    my_ar.append(word)

In [3]:
the_sentence = 'the student went above and beyond the call of duty on the homework'
my_ar = [word for word in the_sentence.split()]
my_ar

['the',
 'student',
 'went',
 'above',
 'and',
 'beyond',
 'the',
 'call',
 'of',
 'duty',
 'on',
 'the',
 'homework']

### 3.Change the below code to NOT include the word orange:

the_sentence = 'the blue cat jumped over the red dog, but the green cat landed on another orange cat'
my_ar = [word for word in the_sentence.split()]

In [4]:
the_sentence = 'the blue cat jumped over the red dog, but the green cat landed on another orange cat' 
my_ar = [word for word in the_sentence.split()]

In [5]:
my_ar = " ".join([word for word in my_ar if word.lower() != "orange"])
my_ar

'the blue cat jumped over the red dog, but the green cat landed on another cat'

### 4.Create a program that removes all special characters from the sentence:

the_sentence = 'woah!!! @student really #impressed me, & so did you!!!'

In [6]:
import re
def clean_text(str_in):
    tmp = re.sub("[^A-Za-z0-9 ,]+","",str_in).lower().strip().replace("  ", " ")
    return tmp

In [7]:
the_sentence = 'woah!!! @student really #impressed me, & so did you!!!'
clean_text(the_sentence)

'woah student really impressed me, so did you'

### 5.Write a program that creates a sentence, each word separated by only one space, out of the following array and replace any special characters with no space, except the '!' characters

the_ar = ['woah!!!','the','@student',' really^','# impressed','me,','and&','so','did','??you!!!']

In [8]:
def Create_sentence(str_in):
    result = []
    for word in str_in:
        result.append(re.sub("[^A-Za-z0-9,!]+","",word).lower().strip())
    result = " ".join(result)
    return result

In [9]:
the_ar = ['woah!!!','the','@student',' really^','# impressed','me,','and&','so','did','??you!!!']
Create_sentence(the_ar)

'woah!!! the student really impressed me, and so did you!!!'

### 6.Create a program that iterates 1 through 10 and returns 'the number: <number> is even' if the number is even and 'the number: <number> is odd’  if the number is odd.

In [17]:
def test_evenness(number_in):
        if number_in % 2 == 0:
            return 'the number: is even'
        else:
            return 'the number: is odd'

In [18]:
for i in range(1,11):
    print(test(i))

NameError: name 'test' is not defined

### 7.Create a program that counts the length of each word in an arbitrary sentence (variable called the_sentence) and stores each word count pair in a pandas dataframe where one column is the word and one column is the word length (number of characters).

In [ ]:
import os
import pandas as pd
def check_length (the_sentence):
    file_list = pd.DataFrame()
    words = the_sentence.split()
    for word in words:
            length = len(word)
            file_list = file_list.append(
                {"word": word, "length": length}, ignore_index=True)
    return file_list
        
import warnings
with warnings.catch_warnings():
    warnings.simplefilter("ignore")

In [ ]:
the_sentence = 'woah!!! @student really #impressed me, & so did you!!!'
check_length(the_sentence)

### 8.Create a program that replaces any word of a sentence (variable called the_sentence) with an arbitrary word

In [12]:
def replace(str_input,replaced_word, new_word):
    str_input = clean_text(str_input).split()
    for i in range(len(str_input)):
        if str_input[i] == replaced_word:
            str_input[i] = new_word
    return " ".join(str_input)

In [13]:
the_sentence = 'woah!!! @student really #impressed me, & so did you!!!'
replace(the_sentence, 'student', 'teacher')

'woah teacher really impressed me, so did you'

### 9.Cleanse the following sentence by removing all special characters except when the hyphen (-) joins to two words and exclamation (!) points

the_sentence = 'The impact*of data-driven$^%&marketing approaches!!'

In [14]:
the_sentence = 'The impact*of data-driven$^%&marketing approaches!!'
clean_txt = re.sub("[^A-Za-z0-9 !-]+"," ",the_sentence).lower().strip()
clean_txt

'the impact of data-driven marketing approaches!!'

### 10.Write a python program that accepts an arbitrary sentence and returns a dictionary that has each unique ‘character’ as a key and the value which is the count of the number of times that character appears in that sentence.  Note: NOT word counts

In [15]:
def dictionary(str_input):
    unique_chars = set(str_input)
    count = {}
    for i in unique_chars:
        count[i] = str_input.count(i)
    my_dict = {'unique_chars': count}
    return count

In [16]:
the_sentence = 'The impact*of data-driven$^%&marketing approaches!!'
dictionary(the_sentence)

{'a': 6,
 'r': 3,
 '*': 1,
 '^': 1,
 'g': 1,
 '!': 2,
 'n': 2,
 'p': 3,
 '-': 1,
 'f': 1,
 't': 3,
 'm': 2,
 'c': 2,
 '%': 1,
 ' ': 3,
 'k': 1,
 's': 1,
 'i': 3,
 'v': 1,
 'h': 2,
 '$': 1,
 'd': 2,
 'o': 2,
 'e': 4,
 'T': 1,
 '&': 1}